@media (min-width:320px) and (max-width:736px){
	
.dashboardbg {
   padding: 6px 27px;
}	
.updatebg {
    padding: 15px 79px;
    }	
.employe .nav>li>a {
    position: relative;
    display: block;
    padding: 9px 16px;
    font-size: 19px;
}	
#profile .col-xs-6 {
    width: 100%;
}	
.carbox-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 15px;
    height: 70px;	
}
.price-main {
    
    font-size: 29px;
}
}
@media (min-width:768px) and (max-width:1024px){
.imgwhitetop {
   margin-bottom: 11px;
}	
.carbox-title {
    height: 22px;
    font-size: 14px;
}	
.price-main {
    font-size: 45px;
}
}
@media (min-width:320px) and (max-width:360px){
.employe .nav>li>a {
    position: relative;
    display: block;
    padding: 4px 6px;
    font-size: 15px;
}
}
@media (min-width:1200px) {
.container{width:1250px;}	
}
