<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoryServ</servlet-name>
        <servlet-class>servlets.CategoryServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdDelServ</servlet-name>
        <servlet-class>servlets.ProdDelServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatDelServ</servlet-name>
        <servlet-class>servlets.CatDelServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdDataUp</servlet-name>
        <servlet-class>servlets.ProdDataUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdUpdate</servlet-name>
        <servlet-class>servlets.ProdUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServ</servlet-name>
        <servlet-class>servlets.LoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkServ</servlet-name>
        <servlet-class>servlets.LinkServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCsv</servlet-name>
        <servlet-class>servlets.UploadCsv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServ</servlet-name>
        <url-pattern>/catcon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdDelServ</servlet-name>
        <url-pattern>/ProdDelServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatDelServ</servlet-name>
        <url-pattern>/CatDelServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdDataUp</servlet-name>
        <url-pattern>/ProdDataUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdUpdate</servlet-name>
        <url-pattern>/uppro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServ</servlet-name>
        <url-pattern>/lgnsrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkServ</servlet-name>
        <url-pattern>/LinkServ</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>upload.location</param-name>
        <param-value>C:/testfolder</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>UploadCsv</servlet-name>
        <url-pattern>/UploadCsv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
